.subnet_params_container{
    padding-left: 3%;
    .subnet_params_area{
        margin-right: 5px;
    }
    .ant-btn-icon-only{
        padding: 0 5px !important;
    }
    .subnet_params_button{
        margin-top: 7px;
        margin-left: 10px;
    }
    .subnet_params_icon{
        font-size: 14px;
    }
}
.ant-form-item-label {
    text-align: left;
}
.validation_alert {
    color: red;
    position: absolute;
    top: 0;
    margin-top: 15px;
}
.validation_alert_area {
    color: red;
    margin-left: 6px;
}
.endpoint_input {
    position: relative;
    .end_alert_ip {
        position: absolute;
        color: red;
        top: 0;
        margin-top: 30px;
        margin-left: 6px;
    }
    .end_alert_logical {
        position: absolute;
        color: red;
        top: 0;
        margin: 30px 0 0 126px;
    }
    .end_alert_nexthop {
        position: absolute;
        color: red;
        top: 0;
        margin: 30px 0 0 246px;
    }
}