<nz-modal [(nzVisible)]="showModel" [nzTitle]="title + 'Parameter'" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()"
	nzWidth="960px">
	<div class="subnet_params_container">
		<form nz-form *ngIf="title === 'Tn'">
			<nz-form-item *ngFor="let item of transferFormItems">
				<nz-form-label [nzSpan]="7" [nzRequired]="item.required" [nzFor]="item.key"
					[ngStyle]="labelStyle(item.required)">
					{{item.title}}
				</nz-form-label>
				<nz-form-control [nzSpan]="16">
					<input nz-input [(ngModel)]="formData[item.key]" [name]="item.key" [id]="item.key"
						[readOnly]="item.title === 'S-NSSAI'" [disabled]="item.title === 'S-NSSAI'"
						[placeholder]="inputHolder(item.title)" *ngIf="specialParaTN.indexOf(item.title)===-1" />
					<nz-radio-group [name]=" item.key" [(ngModel)]="formData[item.key]"
						*ngIf="item.title==='Resource Sharing Level'" (ngModelChange)="changeResourceShare()">
						<label nz-radio [nzValue]="option.key" *ngFor="let option of item.options">
							{{ option.title }}
						</label>
					</nz-radio-group>
					<nz-input-group *ngIf="(item.title === 'AN Endpoint') && EndpointEnable">
						<div *ngFor="let option of item.options;let i=index">
							<div class="tn_endpoint_input">
								<input nz-input [id]="option.key" [name]="option.key"
									[title]="ANEndpointInputs[option.key]" [(ngModel)]="ANEndpointInputs[option.key]"
									[placeholder]="option.holder" style="width:32%;margin-right:1%"
									[disabled]="item.disable" />
								<div class="end_alert_ip" *ngIf="option.title === 'ip_address'">
									{{validateEndPoint(option.title, ANEndpointInputs[option.key], item.required)}}
								</div>
								<div class="end_alert_logical" *ngIf="option.title === 'logical_link'">
									{{validateEndPoint(option.title, ANEndpointInputs[option.key], item.required)}}
								</div>
								<div class="end_alert_nexthop" *ngIf="option.title === 'nexthop_info'">
									{{validateEndPoint(option.title, ANEndpointInputs[option.key], item.required)}}
								</div>
							</div>
						</div>
					</nz-input-group>
					<nz-input-group *ngIf="(item.title === 'CN Endpoint') && EndpointEnable">
						<div *ngFor="let option of item.options;let i=index">
							<div class="tn_endpoint_input">
								<input nz-input [id]="option.key" [name]="option.key"
									[title]="CNEndpointInputs[option.key]" [(ngModel)]="CNEndpointInputs[option.key]"
									[placeholder]="option.holder" style="width:32%;margin-right:1%"
									[disabled]="item.disable" />
								<div class="end_alert_ip" *ngIf="option.title === 'ip_address'">
									{{validateEndPoint(option.title, CNEndpointInputs[option.key], item.required)}}
								</div>
								<div class="end_alert_logical" *ngIf="option.title === 'logical_link'">
									{{validateEndPoint(option.title, CNEndpointInputs[option.key], item.required)}}
								</div>
								<div class="end_alert_nexthop" *ngIf="option.title === 'nexthop_info'">
									{{validateEndPoint(option.title, CNEndpointInputs[option.key], item.required)}}
								</div>
							</div>
						</div>
					</nz-input-group>
					<!-- connection links table -->
					<div *ngIf="item.title === 'Connection Links'">
						<nz-table #basicTable [nzData]="connectionLinkTable" nzShowPagination="true" nzPageSize="2">
							<thead>
								<tr>
									<th *ngFor="let val of connectionTableHeader" class="subnet_td">{{val}}</th>
									<th class="subnet_td"> action </th>
								</tr>
							</thead>
							<tbody>
								<tr *ngFor="let t of basicTable.data">
									<td *ngFor="let val of connectionTableHeader" class="subnet_td">
										<div *ngIf="isObject(t[val])">
											<div *ngFor="let key of objectKeys(t[val])">
												{{key}}: {{t[val][key]}}
											</div>
										</div>
										<div *ngIf="!isObject(t[val])">
											{{t[val]}}
										</div>
									</td>
									<td>
										<input type="radio" name="linkcheck" [value]="t.linkId"
											(click)="changeLinkCheck(t.linkId)" [checked]="t.checked"
											[disabled]="item.disable" class="table_radio" />
									</td>
								</tr>
							</tbody>
						</nz-table>
					</div>
					<div class="validation_alert" *ngIf="item.required">
						{{Util.isEmpty(formData[item.key])? 'can not be empty!':' '}}</div>
				</nz-form-control>
			</nz-form-item>
		</form>
		<form nz-form *ngIf="title === 'An' || title === 'Cn'">
			<nz-form-item *ngFor="let item of coreFormItems">
				<nz-form-label [nzSpan]="item.key === 'an_coverage_area_ta_list'?7:13" [nzRequired]="item.required"
					*ngIf=" item.title !== 'Endpoint' || EndpointEnable " [ngStyle]="labelStyle(item.required)">
					{{ item.title }}
				</nz-form-label>
				<nz-form-control nzSpan="8" *ngIf="item.key !== 'an_coverage_area_ta_list'">
					<input nz-input [id]="item.key" [name]="item.key" [(ngModel)]="formData[item.key]"
						[readOnly]="item.title === 'S-NSSAI'" [disabled]="item.title === 'S-NSSAI'"
						*ngIf=" item.title !== 'Resource Sharing Level' && item.title !== 'Mobility' "
						[placeholder]="inputHolder(item.title)" />
					<nz-radio-group [name]="item.key" [(ngModel)]="formData[item.key]"
						*ngIf="item.title === 'Resource Sharing Level'">
						<label nz-radio [nzValue]="option.key" *ngFor="let option of item.options">
							{{ option.title }}
						</label>
					</nz-radio-group>
					<nz-select [name]="item.key" [(ngModel)]="formData[item.key]" *ngIf="item.title === 'Mobility'">
						<nz-option [nzValue]="option.key" [nzLabel]="option.title" *ngFor="let option of item.options">
						</nz-option>
					</nz-select>
					<div class="validation_alert" *ngIf="item.required">
						{{Util.isEmpty(formData[item.key])? 'can not be empty!':' '}}</div>
					<!-- Comment: The following code-->
					<!-- Comment: Above code-->
				</nz-form-control>
				<div *ngIf="title === 'An' && item.key === 'an_coverage_area_ta_list'">
					<div *ngFor="let area of areaList; let i = index">
						<nz-form-control [nzSpan]="!ind ? 4 : 4" [nzOffset]="i && !ind ? 7 : 0"
							class="subnet_params_area" *ngFor="let item of area; let ind = index">
							<nz-select [(ngModel)]="item.selected" [name]="'area' + i + ind"
								(nzOpenChange)="handleChange(area, item)"
								(ngModelChange)=" handleChangeSelected(area, item) ">
								<nz-option [nzValue]="op.name" [nzLabel]="op.name" *ngFor="let op of item.options">
								</nz-option>
							</nz-select>
						</nz-form-control>
						<nz-form-control [nzSpan]="1">
							<div class="validation_alert_area">{{checkArea(area)}}</div>
						</nz-form-control>
						<nz-form-control [nzSpan]="1" [nzOffset]="2">
							<button nz-button nzType="primary" type="button" nzSize="small" class="subnet_params_button"
								*ngIf="!i" (click)="creatAreaList()">
								<i nz-icon class="anticon anticon-plus subnet_params_icon"></i>
							</button>
							<button nz-button nzType="primary" type="button" nzSize="small" class="subnet_params_button"
								*ngIf="i" (click)="deleteAreaList(i)">
								<i nz-icon class="anticon anticon-minus subnet_params_icon"></i>
							</button>
						</nz-form-control>
					</div>
				</div>
			</nz-form-item>
		</form>
	</div>
</nz-modal>