<nz-modal [(nzVisible)]="showModel" [nzTitle]="title + 'Parameter'" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()"
	nzWidth="700px">
	<div class="subnet_params_container">
		<form nz-form *ngIf="title === 'Tn'">
			<nz-form-item *ngFor="let item of transferFormItems">
				<nz-form-label [nzSpan]="7" nzRequired [nzFor]="item.key">
					{{ item.title }}
				</nz-form-label>
				<nz-form-control [nzSpan]="12">
					<input nz-input
						   [(ngModel)]="detailData[item.key]"
						   [name]="item.key"
						   [id]="item.key"
						   [readOnly]="item.title === 'S-NSSAI'"
						   [disabled]="item.title === 'S-NSSAI'"
					/>
				</nz-form-control>
			</nz-form-item>
		</form>
		<form nz-form *ngIf="title === 'An' || title === 'Cn'">
			<nz-form-item *ngFor="let item of coreFormItems">
				<nz-form-label [nzSpan]="(item.key === 'an_coverage_area_ta_list' || item.title === 'Endpoint')?7:13" nzRequired *ngIf=" item.title !== 'Endpoint' || EndpointEnable ">
					{{ item.title }}
				</nz-form-label>
				<nz-form-control [nzSpan]="item.title === 'Endpoint'?14:8" *ngIf="item.key !== 'an_coverage_area_ta_list'">
					<input nz-input [id]="item.key" [name]="item.key" [(ngModel)]="detailData[item.key]"
						[readOnly]="item.title === 'S-NSSAI'" [disabled]="item.title === 'S-NSSAI'"
						*ngIf=" item.title !== 'Resource Sharing Level' && item.title !== 'Mobility' && item.title !== 'Endpoint' " />
					<nz-radio-group [name]="item.key" [(ngModel)]="detailData[item.key]"
						*ngIf="item.title === 'Resource Sharing Level'">
						<label nz-radio [nzValue]="option.key" *ngFor="let option of item.options">
							{{ option.title }}
						</label>
					</nz-radio-group>
					<nz-select [name]="item.key" [(ngModel)]="detailData[item.key]" *ngIf="item.title === 'Mobility'">
						<nz-option [nzValue]="option.key" [nzLabel]="option.title" *ngFor="let option of item.options">
						</nz-option>
					</nz-select>
					<!-- 2020.08.17  Add 3 parameters for Endpoint-->
					<!-- Comment: The following code-->
					<nz-input-group *ngIf="item.title === 'Endpoint' && EndpointEnable">
						<div *ngFor="let option of item.options;let i=index">
							<input nz-input
								   *ngIf="option.title !== 'nexthop_info'"
								   [id]="option.key"
								   [name]="option.key"
								   [title]="EndpointInputs[i][option.key]"
								   [(ngModel)]="EndpointInputs[i][option.key]"
								   style="width:32%;margin-right:1%" />
							<nz-select
									*ngIf="option.title === 'nexthop_info'"
									[name]="option.key"
									[title]="EndpointInputs[i][option.key]"
									[(ngModel)]="EndpointInputs[i][option.key]" style="width:34%;">
								<nz-option
										*ngFor="let infoOption of NexthopInfoOptions"
										[nzValue]="infoOption.key"
										[nzLabel]="infoOption.title"
								></nz-option>
							</nz-select>
						</div>
					</nz-input-group>
					<!-- Comment: Above code-->
				</nz-form-control>
				<div *ngIf="title === 'An' && item.key === 'an_coverage_area_ta_list'">
					<div *ngFor="let area of areaList; let i = index">
						<nz-form-control [nzSpan]="!ind ? 4 : 5" [nzOffset]="i && !ind ? 7 : 0" class="subnet_params_area"
										 *ngFor="let item of area; let ind = index">
							<nz-select [(ngModel)]="item.selected" [name]="'area' + i + ind"
									   (nzOpenChange)="handleChange(area, item)"
									   (ngModelChange)=" handleChangeSelected(area, item) ">
								<nz-option [nzValue]="op.name" [nzLabel]="op.name" *ngFor="let op of item.options">
								</nz-option>
							</nz-select>
						</nz-form-control>
						<nz-form-control [nzSpan]="1" [nzOffset]="1">
							<button nz-button nzType="primary" nzSize="small" class="subnet_params_button" *ngIf="!i"
									(click)="creatAreaList()">
								<i nz-icon class="anticon anticon-plus subnet_params_icon"></i>
							</button>
							<button nz-button nzType="primary" nzSize="small" class="subnet_params_button" *ngIf="i"
									(click)="deleteAreaList(i)">
								<i nz-icon class="anticon anticon-minus subnet_params_icon"></i>
							</button>
						</nz-form-control>
					</div>
				</div>
			</nz-form-item>
		</form>
	</div>
</nz-modal>