<div id="page-content">
	<h1 class="heading-page" id="profileSearch">Role Function</h1>
	<div ng-show="showLoader" class="span loader-container">
		<i class="icon-primary-spinner" role="img"
			aria-label="Please wait while we load your content"></i>
	</div>
	<div ng-hide="showLoader">
		<div class="row-nowrap">
			<div class="span12">
				<div class="form-row">
					<div class="field-group">
						<button class="btn btn-alt btn-medium" type="button"
							ng-click="addRoleFuncPopUp(rowData);">Create</button>
					</div>
				</div>
			</div>
			<div class="span12">
				<div class="form-row">
					<div style="float: right;">
						<div class="form-field form-field__small">
							<input type="text" placeholder="Search role functions" ng-model="searchString" />
						</div>
					</div>
				</div>
			</div>
		</div>

		<div ng-show="showLoader" class="span loader-container">
			<i class="icon-primary-spinner" role="img"
				aria-label="Please wait while we load your content"></i>
		</div>
	
		<div b2b-table class="b2b-table-div" table-data="tableData"
			search-string="searchString" current-page="currentPage"
			next-sort="nextSort">
			<table>
				<thead b2b-table-row type="header">
					<tr>
						<th b2b-table-header key="name">Name</th>
						<th b2b-table-header key="code">Code</th>
						<th b2b-table-header sortable="false">Edit</th>
						<th b2b-table-header sortable="false">Delete</th>
					</tr>
				</thead>
				<tbody b2b-table-row type="body" row-repeat="rowData in tableData">
					<tr>
						<td b2b-table-body ng-bind="rowData['name']"></td>
						<td b2b-table-body ng-bind="rowData['code']"></td>
						<td b2b-table-body>
							<div style="font-size: 20px;">
								<a ng-click="saveRoleFuncPopUp(rowData);" class="icon-misc-pen"></a>
							</div>
						</td>
						<td b2b-table-body>
							<div style="font-size: 20px;">
								<a href="javascript:void(0)"
									ng-click="delRoleFuncConfirmPopUp(rowData);"
									class="icon-misc-trash"></a>
							</div>
						</td>
	
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>