<div id="page-content">
	<div>
		<h1 class="heading-page" id="Roles">Manage Roles</h1>
	</div>
	<div ng-show="showLoader" class="span loader-container">
		<i class="icon-primary-spinner" role="img" 	aria-label="Please wait while we load your content"></i>
	</div>
	<div ng-hide="showLoader">
		<div>
			<h2 class="heading-small-content">Please edit the role details below: </h2>
		</div>
		
		<div>
			<label>*Name: &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
				<input type="text" ng-model="role.name"
					maxlength="300" />
			</label>
		</div>
		
		<div>
			<label>Priority: &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
				<input type="text" ng-model="role.priority"
					maxlength="30"/>
			</label>
		</div>
		
		<div>
			<button style="margin-left: 105px;" class="btn btn-small" onClick="window.location='admin'">Cancel</button>
			<button class="btn btn-alt btn-small" ng-click="saveRole();">Save</button>
		</div> 
		<br/>
		<div ng-if="routeRoleId != 0">
			<div>
				<h3 class="heading-small-emphasis">Role Functions</h3>    		
				<button class="btn btn-alt btn-small" ng-click="addNewRoleFunctionModalPopup(role.roleFunctions,role.name, role);">Manage Role Functions</button>
				
				<table class="striped" ng-if="role.roleFunctions.length">
							<thead>
								<tr>
									<th>Role Function Name</th>						
									<th>Remove</th>
								</tr>
							</thead>
							<tbody type="body" ng-repeat="roleFunction in role.roleFunctions">
								<tr>
									<td width="70%">{{ roleFunction.name }}</td>						
									<td width="10%">
							    		<div ng-click="removeRoleFunction(roleFunction);"><a href="javascript:void(0)" class="icon-misc-trash"></a></div>
							    	</td>
								</tr>			  
							</tbody>
				</table>
			</div>
			<br/>
			<br/>
			<div>
				<a href="admin#/role_function_list">Manage Role Functions</a><br><br>
			</div>
		</div>
	</div>
</div>