[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group ldap/onap-gerrit-usecase-ui-committers
	read = group GitHub Replication
	create = group ldap/lf-gerrit-transfer
	push = +force group ldap/lf-gerrit-transfer
[project]
	description = Graphical User Interface wifor operators and end-users from the point of view of use cases.
