[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group ldap/onap-gerrit-usecase-ui-committers
	read = group GitHub Replication
[project]
	description = Graphical User Interface wifor operators and end-users from the point of view of use cases.
[allowSuperproject "doc"]
	matching = refs/heads/amsterdam:refs/heads/amsterdam
