<nz-modal
	[nzVisible]="showProcess"
	nzWidth="85%"
	[nzTitle]="moduleTitle"
	[nzFooter]="modalFooter"
	(nzOnCancel)="handleCancel()"
>
	<nz-spin [nzSpinning]="isSpinning">
		<app-basic-info
			[checkDetail]="checkDetail"
			[businessRequirement]="businessRequirement"
			[NSTinfo]="NSTinfo"
		>
		</app-basic-info>
		<nz-list [nzDataSource]="data" nzBordered [nzHeader]="processHeader" [nzFooter]="null" [nzRenderItem]="defaultItem" >
			<ng-template #processHeader>
				<p class="list-title">Task Detail:</p>
			</ng-template>
			<ng-template #defaultItem let-item> 
				<nz-list-item  nz-row nzType="flex" nzJustify="center">
					<nz-steps 
						nzType="navigation"
						[nzCurrent]="item.currentProgress" 
						nz-col 
						nzSpan="20" 
						nzSize="small" 
						*ngFor="let item of data[0]; let i = index" class="task_progress" 
						[ngStyle]="{paddingBottom: i === data[0].length -1 ? '30px': '0px'}"
					>
						<nz-step [nzTitle]="item.title"></nz-step>
						<nz-step 
							[nzTitle]="item.currentProgress > 1 ? null : 'in progress'" 
							[nzStatus]="item.status" [nzIcon]="item.status === 'processing'? 'anticon anticon-spin anticon-loading' : null"
						> 
						</nz-step>
						<nz-step [nzStatus]="item.status === 'finish' ? 'finish' : 'wait'" [nzIcon]="item.status === 'finish' ? null: 'wait'"> </nz-step>
					</nz-steps>
					<p *ngIf="!data[0].length" [ngStyle]="{marginBottom: 0}">No data</p>
				</nz-list-item>

				
			</ng-template>
		</nz-list>	
	</nz-spin>
</nz-modal>
<ng-template #modalFooter>
	<button nz-button nzType="primary" (click)="handleCancel()">OK</button>
  </ng-template>
