<nz-tabset (nzSelectChange)="handleTabChange($event)" class="slicing">
    <nz-tab nzTitle="communication Service">
        <app-csmf-slicing-business-management
                *ngIf="currentTab ==='communication Service'"
        ></app-csmf-slicing-business-management>
    </nz-tab>
  <nz-tab nzTitle="Slicing Task Management">
    <app-slicing-task-management
            *ngIf="currentTab ==='Slicing Task Management'"
    ></app-slicing-task-management>
  </nz-tab>
  <nz-tab nzTitle="Slicing Resource Management" >
    <app-slicing-resource-management
            *ngIf="currentTab ==='Slicing Resource Management'"
    ></app-slicing-resource-management>
  </nz-tab>
</nz-tabset>