<body >
<div class="chat-container">
    <div *ngFor="let chat of chatHistory">
      <div class="question">
          <img src="assets/images/user.png">
          <span>{{ chat.question }}</span>
      </div>
        <br>
        <div class="answer"><img src="assets/images/answer.png">
            <span>{{ chat.answer }}</span>
        </div>
        <br>
    </div>
</div>
<div class="input-wrapper">
  <textarea nz-tooltip nz-input [nzAutosize]="{ minRows: 2, maxRows: 2 }" [(ngModel)]="question" class="text-input"></textarea>
  <i class="icon" (click)="submitQuestion()">
      <img src="assets/images/send.png">
  </i>
</div>
</body>