<div class="cloud_leased_class">
  <div nz-row>
    <button
      nz-button
      nzType="primary"
      class="buy-button"
      (click)="cloudLeasedLineShow()"
    >
      Create
    </button>
    <button
      nz-button
      nzType="primary"
      class="buy-button"
      (click)="smartCloudLeasedLineShow()"
    >
      Smart Create
    </button>
  </div>
  <div class="slicing-resource-table-list">
    <nz-table
      #basicTable [nzData]="listOfData"
      [nzFrontPagination]="false"
      nzShowSizeChanger
      [nzPageSizeOptions]="[5,10,15,20]"
      [nzTotal]='total'
      [(nzPageSize)]="pageSize"
      [(nzPageIndex)]='pageIndex'
      [nzLoading]="loading"
      (nzPageIndexChange)="searchData()"
      (nzPageSizeChange)="searchData()"
    >
      <thead>
        <tr>
          <th nzWidth="6%">No</th>
          <th nzWidth="15%">Communication Service Name</th>
          <th nzWidth="10%">Intent Instance ID</th>
          <th nzWidth="6%">Status</th>
          <th nzWidth="20%">{{"i18nTextDefine_Operationbutton" | translate}}</th>
        </tr>
      </thead>
      <tbody>
        <ng-template ngFor let-data [ngForOf]="basicTable.data" let-i="index">
          <tr>
            <td>{{i+1}}</td>
            <td>{{ data.name }}</td>
            <td>{{ data.instanceId }}</td>
            <td>{{ statusObj[data.status] }}</td>
            <td>
              <button
                nz-button
                nzType="primary"
                class="buy-button"
                (click)="goMonitorService(data)"
              >
                Intent Monitor
              </button>
              <button
                *ngIf="data.status === '3'"
                nz-button
                nzType="primary"
                class="buy-button"
                (click)="activeCloudLeasedLine(data)"
              >
                Active
              </button>
              <button
                *ngIf="data.status === '1'"
                nz-button
                nzType="primary"
                class="buy-button"
                (click)="inactiveCloudLeasedLine(data)"
              >
                Inactive
              </button>
              <button
                nz-button
                nzType="primary"
                class="buy-button"
                (click)="deleteCloudLeasedLine(data)"
              >
                Delete
              </button>
            </td>
          </tr>
        </ng-template>
      </tbody>
    </nz-table>
  </div>
  <app-smart-cloud-leased-modal
    [samrtCloudLeasedLineShowFlag]="smartCloudLeasedLineShowFlag"
    (resolveEmitter)="smartCloudLeasedLineClose($event)"
  ></app-smart-cloud-leased-modal>
  <app-cloud-leased-line-modal
    [modelParams]="resolveResult"
    [cloudLeasedLineShowFlag]="cloudLeasedLineShowFlag"
    (cancelEmitter)="cloudLeasedLineClose()"
  ></app-cloud-leased-line-modal>
</div>