<div class="model creation-model">

    <div class="top-title">
      <h3 class="title fl">{{serviceInstanceName}} Instance Detail</h3>
      <div class="fl" style="width: 20%">
        <button class="back" nz-button (click)="goback()"></button>
      </div>
    </div>
    <div class="detaildata fl" style="width: 100%;">
      <div class="baseparms clearfix">
        <div class="vnf-box">
          <h3> {{"i18nTextDefine_Base" | translate}} </h3>
          <ul class="clearfix">
            <li>
              <span style="width:15%">Name:</span>
              <span class="input-content">{{service.name}}</span>
            </li>
            <li>
              <span style="width:25%">Description:</span>
              <span class="input-content">{{service.description}}</span>
            </li>
          </ul>
        </div>
        <div class="vnf-box" *ngIf="getKeys(e2e_requestInputs).length>0">
            <h3>{{"i18nTextDefine_templateInputs" | translate}}</h3>
            <ul class="clearfix">
              <li *ngFor="let key of getKeys(e2e_requestInputs);">
                <span title="{{key}}">{{key}}:</span>
                <span class="input-content">{{e2e_requestInputs[key]}}</span>
              </li>
            </ul>
          </div>
    </div>
</div>

<div class="detaildata fl" style="width: 100%;">
  <div class="baseparms clearfix">
    <div class="vnf-box">
      <h3>{{"i18nTextDefine_domainService" | translate}}</h3>
      <ul class="clearfix">
        <li *ngFor="let item of domainService;">
          <h3>{{item.domainServiceRealtedTo}}</h3>
          <div *ngIf="item.domainServiceRealtedTo == 'Domain Service Instance'">
            <span title="Domain ServiceId">Domain ServiceId:</span>
            <span class="input-content">{{item.domainServiceId}}</span>
          </div>
          <div *ngIf="item.domainServiceRealtedTo == 'Domain Service Instance'">
            <span title="Domain Service Name">Domain Service Name:</span>
            <span class="input-content">{{item.domainServiceName}}</span>
          </div>
          <div *ngIf="item.domainServiceRealtedTo == 'Logical Link'">
            <span title="Logical Link Name">Logical Link Name:</span>
            <span class="input-content">{{item.logicalLinkName}}</span>
          </div>
        </li>
      </ul>
    </div>
  </div>
  </div>

</div>
