<div class="model creation-model">

    <div class="top-title">
      <h3 class="title fl">{{serviceInstanceName}} Instance Detail</h3>
      <div class="fl" style="width: 20%">
        <button class="back" nz-button (click)="goback()"></button>
      </div>
    </div>
    <div class="detaildata fl">
      <div class="baseparms clearfix">
        <div class="vnf-box">
          <h3> {{"i18nTextDefine_Base" | translate}} </h3>
          <ul class="clearfix">
            <li>
              <span style="width:15%">Name:</span>
              <span class="input-content">{{service.name}}</span>
            </li>
            <li>
              <span style="width:25%">Description:</span>
              <span class="input-content">{{service.description}}</span>
            </li>
          </ul>
        </div>
        <div class="vnf-box" *ngIf="getKeys(e2e_requestInputs).length>0">
            <h3>{{"i18nTextDefine_templateInputs" | translate}}</h3>
            <ul class="clearfix">
              <li *ngFor="let key of getKeys(e2e_requestInputs);">
                <span title="{{key}}">{{key}}:</span>
                <span class="input-content">{{e2e_requestInputs[key]}}</span>
              </li>
            </ul>
          </div>
    </div>
</div>

<!-- chart -->
<div class="chart fr">
  <div id="createChart">
    <svg width="100%" height="100%">
    </svg>
  </div>
</div>

</div>