<div>
	<div class="b2b-modal-header">
		<h2 id="myModalLabel" modal-title="">Role</h2>
		<div class="corner-button in">
			<button type="button" class="close" aria-label="Close"
				ng-click="$dismiss('cancel')"></button>
		</div>
	</div>
	<div class="b2b-modal-body ng-scope ng-isolate-scope in" tabindex="0"
		role="region" aria-label="Modal header text content"
		style="height: 55px;">
		You are about to delete this Role Function. Click 'OK' to continue.
	</div>
	<div class="b2b-modal-footer ng-scope ng-isolate-scope in">
		<div class="cta-button-group in">
			<button class="btn btn-alt btn-medium" type="button"
				ng-click="roleFunRemoveRole(msg.roleFunction)">Ok</button>
			<button class="btn btn-clear btn-medium" type="button"
				ng-click="$dismiss('cancel')">Cancel</button>
		</div>
	</div>
</div>
