	<div class="b2b-modal-header">
		<h2 class="myModalLabel" id="SelectRole">Select Role Functions</h2>
		<div class="corner-button in">
			<button type="button" class="close" aria-label="Close"	ng-click="$dismiss('cancel')"></button>
		</div>
	</div>

	<div class="b2b-modal-body" tabindex="0" aria-label="Modal header text content" role="region">
		<table class="striped">
			<thead>
				<tr>
					<th></th>
					<th>Role Function</th>
				</tr>
			</thead>
			<tbody type="body"	ng-repeat="roleFunction in msg.availableRoleFunctions">
				<tr>
					<td>
						<label class="btn-switch-label" tabindex="0" role="option"> 
							<input ng-click="activateRoleConfirmPopUp(roleFunction.selected,roleFunction);" type="checkbox" b2b-switches ng-model="roleFunction.selected" size-class="modal-small modal-alert">
						</label>
					</td>
					<td>{{roleFunction.name}}</td>
				</tr>
			</tbody>
		</table>
	</div>

	<div class="b2b-modal-footer">
		<div class="cta-button-group in">
			<button style="float: right; margin-right: 20px;"
				class="btn btn-alt btn-small"
				ng-click="$dismiss('cancel')">Close</button>
		</div>
		<br />
	</div>
