<nz-modal [nzVisible]="showDetail" nzWidth="85%" [nzTitle]="moduleTitle" (nzOnCancel)="handleCancel()"
  (nzOnOk)="handleOk()">
  <app-basic-info
		[checkDetail]="checkDetail"
		[businessRequirement]="businessRequirement"
		[NSTinfo]="NSTinfo"
	>
	</app-basic-info>

  <div>
    <nz-list class="taskmodel_list" nzBordered [nzHeader]="'匹配共享切片实例：'" [nzFooter]="null">
      <nz-list-item nz-row nzType="flex" nzJustify="start" [nzGutter]="8">
        <div nz-col nzSpan="12">
          切片实例 ID：
          <nz-select nzShowSearch [(ngModel)]="selectedServiceId" (ngModelChange)="slicingInstanceChange()"
            (nzOpenChange)="getSlicingData($event)">
            <nz-option *ngFor="let item of slicingInstances" [nzValue]="item.service_instance_id"
              [nzLabel]="item.service_instance_id"></nz-option>
          </nz-select>
        </div>
        <div nz-col nzSpan="8">
          切片实例名称：{{ selectedServiceName }}
        </div>
        <div nz-col nzSpan="4">
          <button nz-button nzType="primary" (click)="resetSlicingInstance()">
            <i nz-icon class="anticon anticon-delete"></i>
          </button>
        </div>
      </nz-list-item>
      <nz-list-item nz-row nzType="flex" nzJustify="start" [nzGutter]="8">
        <p class="listitem_subtitle" nz-col nzSpan="24">匹配的共享切片子网实例：</p>
        <nz-card *ngFor="let item of slicingSubnet" nzType="inner" nz-col nzSpan="24" [nzTitle]="item.title">
          <div nz-row [nzGutter]="8">
            <div nz-col nzSpan="12">
              切片子网实例 ID：
              <nz-select nzShowSearch [(ngModel)]="item.slicingId" (ngModelChange)="slicingSubnetChange(item)"
                (nzOpenChange)="getSubnetInstances($event, item)" [nzDisabled]="isDisabled">
                <nz-option *ngFor="let item of item.instances" [nzValue]="item.service_instance_id"
                  [nzLabel]="item.service_instance_id"></nz-option>
              </nz-select>
            </div>
            <div nz-col nzSpan="8">
              切片子网实例名称：{{item.slicingName}}
            </div>
            <div nz-col nzSpan="4">
              <button nz-button nzType="primary" (click)="restSubnetInstance(item)" [disabled]='isDisabled'
                [attr.disabled]='isDisabled?true:undefined'>
                <i nz-icon class="anticon anticon-delete"></i>
              </button>
              <button nz-button nzType="primary" (click)="showParamsModel(item)">
                <i nz-icon class="anticon anticon-setting" nzTheme="outline"></i>
              </button>
            </div>
          </div>
        </nz-card>
      </nz-list-item>
    </nz-list>
  </div>
  <app-subnet-params-model 
    [showModel]="isShowParams" 
    [detailData]="params" 
    [title]="paramsTitle" 
    (cancel)="isShowParams=$event" 
    (paramsDataChange)="changeParams($event)"
  >
  </app-subnet-params-model>


</nz-modal>