<nz-modal [nzVisible]="showDetail" nzWidth="85%" [nzTitle]="moduleTitle" [nzFooter]="modalFooter"  (nzOnCancel)="handleCancel()">
  <nz-spin [nzSpinning]="isSpinning">
    <app-basic-info
      [checkDetail]="checkDetail"
      [businessRequirement]="businessRequirement"
      [NSTinfo]="NSTinfo"
    >
    </app-basic-info>
    <div>
      <nz-list class="taskmodel_list" nzBordered [nzHeader]="nssiInfoTile" [nzFooter]="null" *ngIf="slicingInstances">
        <ng-template #nssiInfoTile>
          <p class="list_title">Matching Shared NSI: </p>
        </ng-template>
        <nz-list-item nz-row nzType="flex" nzJustify="start" [nzGutter]="8">
          <div nz-col nzSpan="12">
            NSI ID：
            <nz-select 
              nzShowSearch 
              [(ngModel)]="selectedServiceId" 
              (nzOpenChange)="openSlicingInstance($event)"
              (nzScrollToBottom)="getNextPageData()"
              (ngModelChange)="slicingInstanceChange()"
            >
              <nz-option 
                nzCustomContent   
                *ngFor="let item of slicingInstances.list" 
                [nzValue]="item.service_instance_id" 
                [nzLabel]="item.service_instance_id"
              >
                <span>{{item.service_instance_name + ' -- '}}</span> {{item.service_instance_id}}
              </nz-option>
              <nz-option *ngIf="slicingInstances.isLoading" nzDisabled nzCustomContent>
                <i class="anticon anticon-loading anticon-spin loading-icon"></i> 
                Loading Data...
              </nz-option>
            </nz-select>
          </div>
          <div nz-col nzSpan="8">
            NSI Name：{{ selectedServiceName }}
          </div>
          <div nz-col nzSpan="4">
            <button nz-button nzType="primary" (click)="resetSlicingInstance()">
              <i nz-icon class="anticon anticon-delete"></i>
            </button>
          </div>
        </nz-list-item>
        <nz-list-item nz-row nzType="flex" nzJustify="start" [nzGutter]="8">
          <p class="listitem_subtitle" nz-col nzSpan="24">Matching Shared NSSI：</p>
          <nz-card *ngFor="let item of slicingSubnet" nzType="inner" nz-col nzSpan="24" [nzTitle]="item.title">
            <div nz-row [nzGutter]="8">
              <div nz-col nzSpan="12">
                NSSI ID：
                <nz-select 
                  nzShowSearch 
                  [nzDisabled]="isDisabled"
                  [(ngModel)]="item.slicingId" 
                  (ngModelChange)="slicingSubnetChange(item)"
                  (nzOpenChange)="openSubnetInstances($event, item)" 
                  (nzScrollToBottom)="getNextPageSubnet(item)"
                >
                  <nz-option 
                    nzCustomContent 
                    *ngFor="let item of item.instances" 
                    [nzValue]="item.service_instance_id"
                    [nzLabel]="item.service_instance_id" 
                  >
                    <span>{{item.service_instance_name + ' -- '}}</span> {{item.service_instance_id}}
                  </nz-option>
                  <nz-option *ngIf="item.isLoading" nzDisabled nzCustomContent>
                    <i class="anticon anticon-loading anticon-spin loading-icon"></i> 
                    Loading Data...
                  </nz-option>
                </nz-select>
              </div>
              <div nz-col nzSpan="8">
                NSSI Name：{{item.slicingName}}
              </div>
              <div nz-col nzSpan="4">
                <button nz-button nzType="primary" (click)="restSubnetInstance(item)" [disabled]='isDisabled'
                  [attr.disabled]='isDisabled?true:undefined'>
                  <i nz-icon class="anticon anticon-delete"></i>
                </button>
                <button nz-button nzType="primary" (click)="showParamsModel(item)">
                  <i nz-icon class="anticon anticon-setting" nzTheme="outline"></i>
                </button>
              </div>
            </div>
          </nz-card>
        </nz-list-item>
      </nz-list>
    </div>
  </nz-spin>
</nz-modal>
<ng-template #modalFooter>
  <button nz-button (click)="handleCancel()">Cancel</button>
  <button nz-button nzType="primary" [nzLoading]='loading' (click)="handleOk()">OK</button>
</ng-template>
<app-subnet-params-model 
  [showModel]="isShowParams" 
  [detailData]="params" 
  [title]="paramsTitle" 
  (cancel)="isShowParams=$event" 
  (paramsDataChange)="changeParams($event)"
>
</app-subnet-params-model>
<app-notification #notification [isServicesList]="false" [parentComponent]="'slicing'"></app-notification>