.subnet_params_container {
  padding-left: 3%;

  // .subnet_params_area {
  //   margin-right: 5px;
  // }

  .ant-btn-icon-only {
    padding: 0 5px !important;
  }

  // .subnet_params_button {
  //   margin-top: 7px;
  //   margin-left: 10px;
  // }

  // .subnet_params_icon {
  //   font-size: 14px;
  // }
}

.ant-form-item-label {
  text-align: left;
}

.validateRules {
  color: red;
}

.error-input-border {
  border-color: red !important;
}

.detail-wrap{
  width: 520px;
  height:auto;
  background: rgba(0, 0, 0, .8);
  line-height: 20px;
  border-radius: 4px;
  text-indent: 2em;
  position: absolute;
  right: -200px;
  top: -360px;
  color:#ffffff;
  p{
    padding: 10px 10px 0 10px;
  }
}
.detail-icon{
  position: absolute;
   right: -26px;
   bottom:-2px;
   width:20px;
   height:20px;
   cursor: pointer;
}
.detail-wrap::before{
  content: '';
    display: block;
    position: absolute;
    right: 175px;
    bottom: -16px;
    border: 20px solid transparent;
    border: 8px solid transparent;
    border-top: 8px solid  rgba(0, 0, 0, .8);
}
.detail-img{
  width: 300px;
  height:auto;
  display: block;
  margin: 0 auto;
  padding-bottom:10px;
}
