<nz-modal [(nzVisible)]="showModel" nzTitle="Create Communication Service" (nzOnCancel)="handleCancel()"
     [nzFooter]="modalFooter" nzWidth="80%">
    <div class="subnet_params_container">
        <form nz-form>
            <nz-form-item *ngFor="let item of comunicationFormItems; let i = index">
                <nz-form-label [nzSpan]="7" [nzRequired]="item.required" [nzFor]=" item.key">
                    {{ item.title }}
                </nz-form-label>
                <nz-form-control [nzSpan]="16">
                    <nz-tooltip    [nzTitle]="item.scoped&&item.scopedText?item.scopedText:''" [nzPlacement]="'right'"
                        [nzTrigger]="'focus'">
                        <input nz-input nz-tooltip   [id]="item.key" [name]="item.key" *ngIf="item.type === 'input'"
                            [(ngModel)]="slicing_order_info[item.key]"
                            [ngClass]="{'error-input-border' : validateRulesShow[i] === true}"
                            [placeholder]="item.placeholder ? item.placeholder : ''"
                            (blur)="item.required ? this.Util.validator(item.title,item.key,slicing_order_info[item.key],i,rulesText,validateRulesShow) : this.Util.validator()" />
                            <div *ngIf="item.coverflag" class="detail-wrap">
                               <p>
                                   {{ masktext }}
                                </p> 
                                <img src="assets/images/coverageAreaMap.png" class="detail-img"/>
                            </div>
                            <img src="assets/images/ask-img.png" alt="" class="detail-icon" *ngIf="item.key === 'coverageAreaNumber'" (mouseover)="detailFn(item.coverflag)" (mouseleave)="detailFn(item.coverflag)" />
                    </nz-tooltip>
                    <nz-radio-group [name]="item.key" [(ngModel)]="slicing_order_info[item.key]"
                        *ngIf="item.type === 'radio'">
                        <label nz-radio [nzValue]="option.key" *ngFor="let option of item.options">
                            {{ option.title }}
                        </label>
                    </nz-radio-group>
                    <nz-select [name]="item.key" [(ngModel)]="slicing_order_info[item.key]"
                        *ngIf="item.type === 'select'">
                        <nz-option [nzValue]="option.key" [nzLabel]="option.title" *ngFor="let option of item.options">
                        </nz-option>
                    </nz-select>
                    <nz-form-explain *ngIf="item.type === 'input' && validateRulesShow[i]" class="validateRules">
                        {{ rulesText[i] }}
                    </nz-form-explain>
                </nz-form-control>

                <div *ngIf="item.type === 'city-select'">
                    <app-city-select [areaList]="areaList" [level]="areaLevel"></app-city-select>
                </div>
            </nz-form-item>
        </form>
    </div>
</nz-modal>
<ng-template #modalFooter>
    <button nz-button (click)="handleCancel()">Cancel</button>
    <button nz-button nzType="primary" [nzLoading]='loading' (click)="handleOk()">OK</button>
  </ng-template>