.taskmodel_list{
    margin-top: 20px;
}
a{
    text-decoration: none;
}
.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 40px;
    line-height: 40px;
    color:#000;
    margin:10px 20px;
}
.anImg{
    width: 65px;
    height: auto;
}
.list-box{
    display: flex;
    justify-content:center;
    align-items: center;
    text-align: center;
   
}
.list-box li{
    position: relative;
}
.clear{
    clear: both;
}
.online-vlan{
  width: 100px;
  height: 1px;
  background: #000;
}
.online-type{
  width: 200px;
  height: 3px;
  background: #6a9bd0;
}
.offline-type{
    width: 200px;
    height: 3px;
    background: #7e848a;
}
.vLan-line{
    text-align: center;
    top:-20px;
}
.tnImg{
    width: 85px;
    height:auto;
}
.three-box{
  text-align: center;
    top:-20px;
}
.cnCloud{
    width: 90px;
    height: auto;
}