<nz-tabset class="slicing-resource_tab"  (nzSelectChange)="handleTabChange($event)">
  <nz-tab nzTitle="Slicing Business Management">
      <app-slicing-business-table *ngIf="currentTab ==='Slicing Business Management'"></app-slicing-business-table>
  </nz-tab>
  <nz-tab nzTitle="Slicing Instance Management">
      <app-nsi-table *ngIf="currentTab ==='Slicing Instance Management'"></app-nsi-table>
  </nz-tab>
  <nz-tab nzTitle="Slicing Subnet Instance Management">
      <app-nssi-table *ngIf="currentTab ==='Slicing Subnet Instance Management'"></app-nssi-table>
  </nz-tab>
</nz-tabset>