<nz-spin [nzSpinning]="isSpinning">
  <nz-list class="taskmodel_list" nzBordered [nzHeader]="'Related Slicing Business List ：'" [nzFooter]="null">
    <nz-table #businessTable [nzData]="businessList" [nzShowPagination]="false" nzHideOnSinglePage
      class="model-table-padding">
      <thead>
        <tr>
          <th>Service Instance Id</th>
          <th>Service Instance Name</th>
          <th>Service Type</th>
          <th width="90px">S-NSSAI</th>
          <th width="110px">Status</th>
          <th width="110px">Detail</th>
        </tr>
      </thead>
      <tbody>
        <ng-template ngFor let-data [ngForOf]="businessTable.data" let-i="index">
          <tr>
            <td>{{ data.service_instance_id }}</td>
            <td>{{ data.service_instance_name }}</td>
            <td>{{ data.service_type }}</td>
            <td>{{ data.service_snssai }}</td>
            <td>{{ data.orchestration_status }}</td>
            <td>
              <a (click)="showBusinessDetail(data)">View Detail</a>
            </td>
          </tr>
        </ng-template>
      </tbody>
    </nz-table>
  </nz-list>
  <nz-list class="taskmodel_list taskmodel_list-margin" nzBordered [nzHeader]="'Related Slicing NSSI List ：'" [nzFooter]="null">
    <nz-table #nssiTable [nzData]="nssiList" [nzShowPagination]="false" nzHideOnSinglePage class="model-table-padding">
      <thead>
        <tr>
          <th>Service Instance Id</th>
          <th>Service Instance Name</th>
          <th>Service Type</th>
          <th width="85px">Context</th>
          <th width="110px">Status</th>
          <th width="110px">Detail</th>
        </tr>
      </thead>
      <tbody>
        <ng-template ngFor let-data [ngForOf]="nssiTable.data" let-i="index">
          <tr>
            <td>{{ data.service_instance_id }}</td>
            <td>{{ data.service_instance_name }}</td>
            <td>{{ data.service_type }}</td>
            <td>{{ data.environment_context }}</td>
            <td>{{ data.orchestration_status }}</td>
            <td>
              <a (click)="showNssiDetail(data)">View Detail</a>
            </td>
          </tr>
        </ng-template>
      </tbody>
    </nz-table>
  </nz-list>
</nz-spin>