 <div class="license-notification">
	<a href="javascript:void(0)" style="background-color:#bbb;" class="button button--small" tooltip="Please contact ECOMP Portal team to get the license" tooltip-placement="below" tooltip-style="light"  tooltip-popup-delay="500" >
		<span style="">{{app_name_full}}</span>
	</a>									
</div>
<div ng-cloak>
	<span ng-style="adjustHLeftMenu('burgerIcon')" style="z-index:998; position:fixed; left:0%; font-size:35px; margin-left:10px;text-decoration:none;">
		<a ng-click="toggleDrawer();isOpen = !isOpen" href="javascript:void(0);" class="arrow-icon-left" >
		<span class="icon-hamburger"></span></a>	
		<span ng-init="isOpen = true" ng-show="isOpen" style="font-size:16px; position:relative; top:-8px; left:-15px;">&nbsp&nbsp&nbsp {{app_name}}</span>
	</span>
	<div att-drawer drawer-slide="left" drawer-custom-top="{{drawer_custom_top}}px" drawer-size="200px" drawer-open="drawerOpen" drawer-custom-height="100%" >
		<div ng-style="adjustHLeftMenu('leftMenu')">
		    <div class="attDrawer" style="z-index:998">   
		    	<div class="appLeftMenuAccordDiv">
		    		<accordion close-others="true" css="att-accordion--no-box">
						<accordion-group ng-repeat="parent in leftMenuItems" heading="{{parent.parentLabel}}" parent-link="{{parent.parentAction}}" image-source="{{parent.parentImageSrc}}" child-length="{{parent.childItemList.length}}" is-open="parent.open">
							<div ng-repeat="subMenu in parent.childItemList" style="font-size:12px; margin-left:10px;">
	                   			<a href="{{subMenu.action}}" style="font-size:12px; color:#666666;" >{{subMenu.label}}</a>
							</div>
	                   </accordion-group>
					</accordion>
				</div>
		    </div>
		</div>	
	</div>
</div>