<div class="top-list">
  <span class="round">{{serviceDomain}}</span>
  <div class="top-list-text">
    <p>
      <span>{{failedNum}}</span>
      <span> {{"i18nTextDefine_Failed" | translate}} </span>
    </p>
    <p>
      <span>{{successNum}}</span>
      <span> {{"i18nTextDefine_Success" | translate}} </span>
    </p>
    <p>
      <span>{{inProgressNum}}</span>
      <span> {{"i18nTextDefine_InProgress" | translate}} </span>
    </p>
    <p class="service-description"> {{serviceDetailName | translate}} </p>
  </div>
</div>