<h3 class="title">
    <span (click)="performanceShow()" style="cursor:pointer;">Performance VNF</span> 
    <span (click)="graphicShow()" *ngIf="graphicshow">> Graphic list </span> 
    <span *ngIf="detailshow">> Details </span> 
</h3>
<hr>
<div class="select" [@showHideAnimate]="state">
    <span>Source Name: </span>
    <nz-dropdown [nzTrigger]="'click'" [nzPlacement]="'bottomLeft'">
        <button nz-button nz-dropdown><span>{{sourceNameSelected}}</span> <i class="anticon anticon-down"></i></button>
        <ul nz-menu>
            <li nz-menu-item (click)="choseSourceName(item)" *ngFor="let item of sourceNameList">
                <a>{{item}}</a>
            </li>
        </ul>
    </nz-dropdown>
    <button class="submit" nz-button [nzType]="'primary'" (click)="submit()"><i class="anticon anticon-plus-circle-o"></i><span>Submit</span></button>
</div>
<div class="content" [@showHideAnimate]="state">
    <div class="vnfs">
        <div class="vnf" *ngFor="let item of vnfsData" (click)="graphicShow()">
            <img src="../../../assets/images/VNF3.png" alt="VNF3">
            <h3>Mfvs_MMEManaxxdeafsfdf</h3>
            <div class="intro">
                Mfvs_MMEMa naxxdfdafa fafad a afeaf sfdff doafe oghaiod aaafeageageagfdavzvdagewag
            </div>
        </div>
        <div class="empty" *ngFor="let empty of emptys"></div>   
    </div>
    <div class="pages">
        <nz-pagination [(nzPageIndex)]="current" [nzTotal]="500" [nzSize]="'small'" [nzPageSize]="10" [nzPageSizeOptions]="[10,15,20,25,30]" nzShowSizeChanger nzShowQuickJumper></nz-pagination>
    </div>
</div>
<div [@showHideAnimate]="state2">
    <app-graphiclist  (detailData)="detailShow($event)"></app-graphiclist>
</div>
<div [@showHideAnimate]="state3">
    <app-performance-details [detailId]="detailId"></app-performance-details>
</div>
