<nz-tabset [nzSelectedIndex]="selectedIndex" (nzSelectChange)="handleTabChange($event)" class="slicing">
  <nz-tab [nzTitle]="'i18nTextDefine_orderService' | translate">
    <app-order-service (childEvent)="changeTab()"
            *ngIf="selectedIndex === 0"
    ></app-order-service>
  </nz-tab>
  <nz-tab [nzTitle]="'i18nTextDefine_manageService' | translate">
    <app-manage-service
            *ngIf="selectedIndex === 1"
    ></app-manage-service>
  </nz-tab>
  <nz-tab [nzTitle]="'i18nTextDefine_monitorService' | translate">
    <app-monitor-service
            *ngIf="selectedIndex === 2"
    ></app-monitor-service>
  </nz-tab>
</nz-tabset>