<div *ngFor="let item of data" class="input-wrapper">
    <div class="desc-label">
        <nz-popover>
            <div class="text-single-ellipsis text-label" nz-popover>
                {{ item.label }}
            </div>
            <ng-template #nzTemplate>
                {{ item.label }}
            </ng-template>
        </nz-popover>
    </div>
    <div class="desc-item">
        <nz-popover>
            <div class="text-single-ellipsis" nz-popover>{{ item.value }}</div>
            <ng-template #nzTemplate>
                {{ item.value }}
            </ng-template>
        </nz-popover>
    </div>
</div>