<div>
  <div nz-row>
    <div nz-col nzSpan="12" class="task_status">
      <span>Status : </span>
      <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Select a processing status" [(ngModel)]="selectedValue" (ngModelChange)="getListOfProcessingStatus()">
        <nz-option *ngFor="let item of statusOptions" [nzLabel]="item.title" [nzValue]="item.value"></nz-option>
      </nz-select>
    </div>
  </div>
  <div>
    <nz-table #basicTable [nzData]="listOfData">
      <thead>
        <tr>
          <th>任务ID</th>
          <th>任务名称</th>
          <th>S-NSSAI</th>
          <th>切片业务类型</th>
          <th>到达时间</th>
          <th>处理环节</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of basicTable.data">
          <td>{{ data.task_id }}</td>
          <td>{{ data.task_name }}</td>
          <td>{{ data.service_snssai }}</td>
          <td>{{ data.service_type }}</td>
          <td>{{ data.arrival_time }}</td>
          <td>{{ data.status }}</td>
          <td>
            <span *ngIf="data.processing_status === 'Planning'" class="task_operation_disabled">{{ data.operation }}</span>
            <a (click)="showdetail(data)" *ngIf="data.processing_status !== 'Planning'">{{ data.operation }}</a>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </div>
  <app-slicing-task-model [moduleTitle]="moduleTitle" [showDetail]="showDetail" [taskId]="taskId"
    (cancel)="showDetail=$event">
  </app-slicing-task-model>
  <app-check-process-model 
    [moduleTitle]="moduleTitle"
    [showProcess]="showProcess" 
    [taskId]="taskId" 
    (cancel)="showProcess=$event"
  >
  </app-check-process-model>
</div>