<div>
  <div nz-row>
    <div nz-col nzSpan="6">
      <span>Status：</span>
      <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Select a person" [(ngModel)]="selectedValue">
        <nz-option nzLabel="Jack" nzValue="jack"></nz-option>
        <nz-option nzLabel="Lucy" nzValue="lucy"></nz-option>
        <nz-option nzLabel="Tom" nzValue="tom"></nz-option>
      </nz-select>
    </div>
  </div>
  <div>
    <nz-table #basicTable [nzData]="listOfData">
      <thead>
        <tr>
          <th>任务ID</th>
          <th>任务名称</th>
          <th>S-NSSAI</th>
          <th>切片业务类型</th>
          <th>到达时间</th>
          <th>处理环节</th>
          <th>操作</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of basicTable.data">
          <td>{{ data.task_id }}</td>
          <td>{{ data.task_name }}</td>
          <td>{{ data.service_snssai }}</td>
          <td>{{ data.service_type }}</td>
          <td>{{ data.arrival_time }}</td>
          <td>{{ data.status }}</td>
          <td>
            <span *ngIf="data.processing_status === 'Planning'">任务处理</span>
            <a (click)="showdetail(data)" *ngIf="data.processing_status === 'Waiting to Confirm'">任务处理</a>
            <a (click)="showdetail(data)" *ngIf="data.processing_status === 'Creating'">查看进度</a>
            <a (click)="showdetail(data)" *ngIf="data.processing_status === 'Completed'">查看结果</a>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </div>
  <app-slicing-task-model [moduleTitle]="moduleTitle" [showDetail]="showDetail" [modelData]="detailData"
    (cancel)="showDetail=$event">
  </app-slicing-task-model>
</div>