<nz-tabset [nzSelectedIndex]="selectedIndex" (nzSelectChange)="handleTabChange($event)" class="slicing">
  <nz-tab [nzTitle]="'i18nTextDefine_intentBaseService' | translate">
    <app-intent-based-predict
      *ngIf="selectedIndex === 0"
      (eventEmitter)="toCloudPage()"
    ></app-intent-based-predict>
  </nz-tab>
  <nz-tab [nzTitle]="'i18nTextDefine_cloudLeasedLine' | translate">
    <app-cloud-leased-line
      *ngIf="selectedIndex === 1"
    ></app-cloud-leased-line>
  </nz-tab>
  <nz-tab [nzTitle]="'i18nTextDefine_intentInstance' | translate">
    <app-intent-instance
      *ngIf="selectedIndex === 2"
    ></app-intent-instance>
  </nz-tab>
</nz-tabset>