<div class="b2b-nav-menu" id="left-menu-main-div"
	ng-class="leftMenuClass">
	<div class="b2b-subnav-container" id="left-menu-subnav-container">
		<ul class="b2b-subnav-content" id="left-menu-subnav-content">
			<li id="b2b-subnav-content-li">
				<div ng-class="leftMenuArrowClass" id="left-menu-arrow-toggle-div">
					<a ng-click="toggleDrawer(showmenu);" class="text-right"
						id="left-menu-arrow-toggle-anchor"> <i
						ng-class="{true: 'icon-controls-left', false: 'icon-controls-right'}[showmenu]"
						id="left-menuf-arrow-toggle-icon">&nbsp;</i>
					</a>
				</div>
			</li>
			<li ng-repeat="menu in menuData"
				ng-click="toggleNav($index,menu.href,showmenu)"
				id="left-menu-li-{{menu.name.split(' ').join('-')}}"><span
				ng-class="{true: 'menu-icon', false: 'menu-icon-collapse'}[showmenu]"
				id="left-menu-span-{{menu.name.split(' ').join('-')}}"> <span
					class="{{menu.imageSrc}}"
					id="icon-image-{{menu.name.split(' ').join('-')}}"></span>&nbsp;&nbsp;
			</span> <a ng-class="{expand: isOpen($index)}"
				id="parent-item-{{menu.name.split(' ').join('-')}}" ng-if="showmenu"
				aria-label="{{menu.name}}" title="{{menu.name}}"
				aria-expanded="{{(idx==$index)?true:false;}}"
				href="javascript:void(0);"> {{menu.name}} <i aria-hidden="true"
					ng-if="(menu.menuItems.length > 0)"
					class="b2b-icon-primary-plus-minus"
					ng-class="idx==$index ? 'icon-primary-expanded' : 'icon-primary-collapsed'"></i>
			</a>
				<div role="region" aria-hidden="{{(isOpen($index))?false:true;}}"
					id="left-menu-child-div-{{menu.name.split(' ').join('-')}}">
					<div class="left-menu-child">
						<ul ng-class="{expand: idx==$index}"
							id="left-menu-child-ul-{{menu.name.split(' ').join('-')}}">
							<li ng-repeat="menuItem in menu.menuItems"
								ng-click="liveLink($event, $index, $parent.$index)"
								id="left-menu-child-li-{{menuItem.name.split(' ').join('-')}}-{{menu.name.split(' ').join('-')}}">
								<a aria-hidden="{{!(idx==$parent.$index)}}"
								aria-label="{{menuItem.name}}" title="{{menuItem.name}}"
								id="child-item-{{menuItem.name.split(' ').join('-')}}"
								href="{{menuItem.href}}"
								tabindex="{{(idx==$parent.$index)?0:-1;}}"
								ng-class="{active: itemIdx==$index && navIdx==$parent.$index}">{{menuItem.name}}</a>
							</li>
						</ul>
					</div>
					</div></li>
		</ul>
	</div>
</div>