<div>
	<div class="b2b-modal-header ng-scope in">
		<h2 id="myModalLabel" modal-title="">Success!</h2>
		<div class="corner-button in">
			<button type="button" class="close" aria-label="Close"
				ng-click="$dismiss('cancel')"></button>
		</div>
	</div>
	<div class="b2b-modal-body ng-scope ng-isolate-scope in" tabindex="0"
		role="region" aria-label="Modal header text content"
		style="height: 40px;">
		Your change has been saved! {{msg.text}}
	</div>
	<div class="b2b-modal-footer ng-scope ng-isolate-scope in">
		<div class="cta-button-group in">
			<button class="btn btn-alt btn-small" type="button"
				ng-click="$dismiss('cancel')">OK</button>
		</div>
	</div>
</div>
